[tool.poetry]
name = "surfkit"
version = "0.1.14"
description = "A toolkit to build GUI surfing AI agents"
authors = ["Patrick Barker <patrickbarkerco@gmail.com>"]
license = "Apache 2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
litellm = "^1.34.21"
agentdesk = "^0.2.43"
pydantic = "^2.6.4"
threadmem = "^0.2.11"
rootpath = "^0.1.1"
taskara = "^0.1.12"


[tool.poetry.group.dev.dependencies]
ipykernel = "^6.29.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
